.listItem {
    justify-items: center;
    display: flex;
    justify-content: center !important;
    text-align: center;
}

.listItemText {
    text-align: center;
}

.list {
    justify-content: center !important;
    justify-items: center !important;
}

.listContainer {
    justify-content: center !important;
    display: flex !important;
}

.generatorTypeFormControl {
    min-width: 50% !important;
}

.inputField {
    min-width: 50% !important;
}


.svgImg {
    width: 90% !important;
}

.rule30Img {
    width: 90% !important;
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: pixelated; /* Chrome */
    -ms-interpolation-mode: nearest-neighbor;
}